In [73]:
import pandas as pd

In [74]:
cols = [
    "Season",
    "Date",
    "HomeTeam",
    "AwayTeam",
    "FTHG",
    "FTAG",
    "FTR",
    "HTHG",
    "HTAG",
    "HTR",
    "Referee",
    "HS",
    "AS",
    "HST",
    "AST",
    "HF",
    "AF",
    "HC",
    "AC",
    "HY",
    "AY",
    "HR",
    "AR",
    "MaxH",
    "MaxD",
    "MaxA",
    "AvgH",
    "AvgD",
    "AvgA"
]

In [75]:
csv_files = {"E2020_21.csv" : "20-21",
             "E2019_20.csv" : "19-20",
             "E2018_19.csv" : "18-19",
             "E2017_18.csv" : "17-18",
             "E2016_17.csv" : "16-17",
            }

df = pd.DataFrame()

for file, season in csv_files.items():
    _results = pd.read_csv(file)
    _results["Season"] = season
    df = df.append(_results)
    
df = df[cols]

In [82]:
df["Date"] = pd.to_datetime(df["Date"])

In [83]:
df

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HY,AY,HR,AR,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA
0,20-21,2020-12-09,Fulham,Arsenal,0,3,A,0,1,A,...,2,2,0,0,6.55,4.55,1.60,5.94,4.34,1.55
1,20-21,2020-12-09,Crystal Palace,Southampton,1,0,H,1,0,H,...,2,1,0,0,3.36,3.36,2.50,3.18,3.22,2.39
2,20-21,2020-12-09,Liverpool,Leeds,4,3,H,3,2,H,...,1,0,0,0,1.35,6.50,10.75,1.30,5.96,9.68
3,20-21,2020-12-09,West Ham,Newcastle,0,2,A,0,0,D,...,2,2,0,0,2.24,3.70,3.60,2.15,3.48,3.42
4,20-21,2020-09-13,West Brom,Leicester,0,3,A,0,0,D,...,1,1,0,0,4.00,3.82,2.04,3.87,3.57,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,16-17,2017-05-21,Liverpool,Middlesbrough,3,0,H,1,0,H,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
376,16-17,2017-05-21,Man United,Crystal Palace,2,0,H,2,0,H,...,2,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
377,16-17,2017-05-21,Southampton,Stoke,0,1,A,0,0,D,...,2,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN
378,16-17,2017-05-21,Swansea,West Brom,2,1,H,0,1,A,...,1,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
379,16-17,2017-05-21,Watford,Man City,0,5,A,0,4,A,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN